.git
.gitattributes
.gitignore
.env
.env.*
!.env.example
!.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
README.md
.editorconfig
.npmrc
serve-local.bat
docker-compose.override.yml
