# Laravel
/vendor/
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/logs/*
/storage/app/*
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json

# Node
/node_modules/
npm-debug.log
yarn-error.log

# IDE
/.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build assets
/public/build/

# Android / Capacitor
/android/
